<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>

  <header>
    <div class="navbar">
      <div class="logo">
        <a href="{{ "/" | relative_url }}">My Study Friend</a>
      </div>
  
      <button class="nav-toggle" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
  
      <nav>
        <ul>
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/about" | relative_url }}">About</a></li>
          <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
          <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4146993992396271"
     crossorigin="anonymous"></script>
  <!-- Header 2 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-4146993992396271"
      data-ad-slot="1746906607"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      

  <!-- Main Content Section -->
  <main class="post">
    <article>
      <h1>{{ page.title }}</h1>
      <p class="post-meta">
        <span>{{ page.date | date: "%B %d, %Y" }}</span>
        {% if page.author %} <span>by {{ page.author }}</span>{% endif %}
        {% if page.categories %} <span> {{ page.categories | join: ", " }}</span>{% endif %}
      </p>

      <img class="thumbnail" src="{{ page.image }}" alt="{{ page.title }}">
      
      <div class="post-content">
        {{ content }}
      </div>

      {% if page.faqs %}
        <div class="faqs">
          <h3 class="h4">Frequently Asked Questions</h3>
          {% for faq in page.faqs %}
          <div class="faq-item">
            <h4 class="h5">{{ faq.question }}</h4>
            <p>{{ faq.answer }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </article>



  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4146993992396271"
  crossorigin="anonymous"></script>
  <!-- Header 2 -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4146993992396271"
    data-ad-slot="1746906607"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  

    <ul id="blog-posts">
      {% for post in site.posts %}
        <li class="post-item" {% if forloop.index > 5 %}style="display: none;"{% endif %}>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span> - {{ post.date | date: "%b %d, %Y" }}</span>
          <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </li>
      {% endfor %}
    </ul>
    
    <button id="load-more">Load More</button>
    
  </main>

  <!-- Footer Section -->

 <footer>
  {% include footer.html %}
 </footer>
  



  

  <script>
    document.querySelector('.nav-toggle').addEventListener('click', function() {
      const nav = document.querySelector('nav');
      nav.classList.toggle('active');
    });

  // Load more...
  document.addEventListener('DOMContentLoaded', function () {
    const posts = document.querySelectorAll('.post-item');
    const loadMore = document.getElementById('load-more');
    let currentVisible = 5;

    loadMore.addEventListener('click', function () {
      let nextVisible = currentVisible + 5;
      for (let i = currentVisible; i < nextVisible && i < posts.length; i++) {
        posts[i].style.display = 'list-item';
      }
      currentVisible = nextVisible;

      if (currentVisible >= posts.length) {
        loadMore.style.display = 'none';
      }
    });
  });


  </script>
  

  {% if page.faqs %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for faq in page.faqs %}
    {
      "@type": "Question",
      "name": "{{ faq.question | escape }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ faq.answer | escape }}"
      }
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endif %}


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ page.title | escape }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: 'Ganesh Kumar' }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    }
  }
  </script>
  

</body>
</html>
